body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background: #181719;
}

nav{
    max-width: 1250px;
    min-height: 100px;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .logo{
        font-size: 14px;
        font-family: Crimson Pro;
        text-transform: uppercase;
        font-weight: 200;
        color: #fff;
        border: 1px solid #fff;
        padding: 7px;
    }

    .navi{
        position: relative;

        ul{
            display: flex;
            list-style: none;
            

            .active a{
                font-weight: 700;
            }

            li{
                padding-right: 86px;

                &:nth-child(4){
                    padding-right: 0;
                }
                
                a{
                    font-family: Montserrat;
                    font-size: 18px;
                    text-decoration: none;
                    font-weight: 500;
                    color: #fff;
                }
            }
        } 
    }

    .hidden {
        display: none;
    }
}

// Main Section

main{
    max-width: 1250px;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    // min-height: 100vh;
       
    .left{
        width: 40%;
        
    

        .title{
            font-family: Lora;
            font-size: 3rem;
            color: #fff;
            font-weight: 400;
        }

        .title-desc p{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 1.5rem;
            color: #fff;
            // max-width: 75%;
        }

        .title-desc a{
            color: #fff;
            font-family: Montserrat;
            font-weight: 600;
            font-size: 18px;
            text-decoration: none;
            padding-right: 10px;

            .fa-long-arrow-right{
                color: #fff;
            }
        }

    }

    .right{
        width: 55%;
        position: relative;
        // margin-bottom: 10px;

        img{
            width: 100%;
            display: block;
            
        }

        .card{
            position: absolute;
            bottom: -16%;
            right: 20px;
            width: 390px;
            background-color: #181719;
            padding: 20px;
            box-shadow: 0 1rem 1.5rem rgba(0, 0, 0,0.6);
            
            .card-details{
                display: flex;
            
                img{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }

                .card-detail{
                    margin-left: 20px;
                    h1{
                        font-family: Montserrat;
                        font-weight: 500;
                        font-size: 14px;
                        color: #FFFFFF;
                    }

                    h2{
                        font-family: Montserrat;
                        font-weight: 500;
                        font-size: 12px;
                        color: #828282;
                    }
                }
            }

            p{
                font-family: Lora;
                font-weight: bold;
                font-size: 24px;
                color: #FFFFFF;
                max-width: 60%;
                margin: 15px 0 0 0;
            }
        }
    }
}

// Footer
footer{

    margin-top: 70px;
   
    p{
        font-family: Montserrat;
        font-weight: 600;
        font-size: 14px;
        color: #A9A9A9;
        text-align: center;
    }
}
// Media Queries
$breakpoint-tablet: 966px;
@media (max-width: $breakpoint-tablet) {

   nav {
    padding: 0 2rem;
        .navi{
            .links{
                display: none;
                &.cross{
                    position: fixed;
                    display: flex;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: #181719;
                    z-index: 20;
                    flex-direction: column;
                    align-items: center;
                    padding: 0;
                    margin: 0;

                    li{
                       justify-content: center;
                       padding: 25px 0; 
                       margin-top: 80px;
                    }
                }
            }
        }
        .hidden{
            display: block;
            color: #fff;
            z-index: 22;
        }
   }

   main{
    //    flex-direction: column;
       padding: 40px;
       margin-bottom: 20px;

       .left{
           width: 100%;
           height: 250px;

           .title{
               font-size: 2.7rem;
           }

           .title-desc p{
               font-size: 20px;
           }
       }

       .right{
           width: 100%;

           .card{
            right: 35px;
            width: 260px;
            bottom: -25%;

            p{
                font-size: 18px;
            }
           }        
       }
   }
}

$breakpoint-phone: 768px;
@media (max-width: $breakpoint-phone) {
    main{
        flex-direction: column;
        .right{
            .card{
                bottom: -15%;
                width: 54%;
               
            }
        }
    }
}

$breakpoint-small:537px;
@media (max-width: $breakpoint-small) {
    main{
        .right{
            .card{
                width: 60%;
                p{
                    margin: 12px 0 0 0;
                    max-width: 70%;
                }
            }
        }
    }
}
