body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #181719;
}

nav {
  max-width: 1250px;
  min-height: 100px;
  padding: 2rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo {
  font-size: 14px;
  font-family: Crimson Pro;
  text-transform: uppercase;
  font-weight: 200;
  color: #fff;
  border: 1px solid #fff;
  padding: 7px;
}

nav .navi {
  position: relative;
}

nav .navi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav .navi ul .active a {
  font-weight: 700;
}

nav .navi ul li {
  padding-right: 86px;
}

nav .navi ul li:nth-child(4) {
  padding-right: 0;
}

nav .navi ul li a {
  font-family: Montserrat;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

nav .hidden {
  display: none;
}

main {
  max-width: 1250px;
  padding: 2rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .left {
  width: 40%;
}

main .left .title {
  font-family: Lora;
  font-size: 3rem;
  color: #fff;
  font-weight: 400;
}

main .left .title-desc p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  color: #fff;
}

main .left .title-desc a {
  color: #fff;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  padding-right: 10px;
}

main .left .title-desc a .fa-long-arrow-right {
  color: #fff;
}

main .right {
  width: 55%;
  position: relative;
}

main .right img {
  width: 100%;
  display: block;
}

main .right .card {
  position: absolute;
  bottom: -16%;
  right: 20px;
  width: 390px;
  background-color: #181719;
  padding: 20px;
  -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6);
}

main .right .card .card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .right .card .card-details img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

main .right .card .card-details .card-detail {
  margin-left: 20px;
}

main .right .card .card-details .card-detail h1 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}

main .right .card .card-details .card-detail h2 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  color: #828282;
}

main .right .card p {
  font-family: Lora;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  max-width: 60%;
  margin: 15px 0 0 0;
}

footer {
  margin-top: 70px;
}

footer p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  color: #A9A9A9;
  text-align: center;
}

@media (max-width: 966px) {
  nav {
    padding: 0 2rem;
  }
  nav .navi .links {
    display: none;
  }
  nav .navi .links.cross {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #181719;
    z-index: 20;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
  }
  nav .navi .links.cross li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25px 0;
    margin-top: 80px;
  }
  nav .hidden {
    display: block;
    color: #fff;
    z-index: 22;
  }
  main {
    padding: 40px;
    margin-bottom: 20px;
  }
  main .left {
    width: 100%;
    height: 250px;
  }
  main .left .title {
    font-size: 2.7rem;
  }
  main .left .title-desc p {
    font-size: 20px;
  }
  main .right {
    width: 100%;
  }
  main .right .card {
    right: 35px;
    width: 260px;
    bottom: -25%;
  }
  main .right .card p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .right .card {
    bottom: -15%;
    width: 54%;
  }
}

@media (max-width: 537px) {
  main .right .card {
    width: 60%;
  }
  main .right .card p {
    margin: 12px 0 0 0;
    max-width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */